#fof-content {
	.fof-content {
		p {
			font-size: 20px;
			line-height: 34px;
			margin-top: 24px;
			margin-bottom: 24px;
			font-weight: 100;
		}

		h4 {
		    line-height: 1.7;
		    font-weight: bolder;
		    font-size: 24px;
		    margin: 10px 0!important;
		}

		input {
			padding-left: 12px;
    		margin-bottom: 9px;
		}

		textarea {
		    height: 108px;
		    resize: none;
		    margin-bottom: 3px;
			padding-left: 12px;
			padding-right: 12px;
		}

		button {
		    background: #444444 !important;
		    color: #ffffff !important;
    		height: 30px;
		    font-weight: 600;
		    border: none;
		    border-radius: 0;
		    outline: none;
		    cursor: pointer;
		    font-size: 12px;
		    margin-top: 12px;
		}

		.p-l-0 {
			padding-left: 0 !important;
		}
	}
}