.buyers-header {
    margin: 44px 0 20px 0;

    div {
    	&:hover {
    		span {
    			color: rgb(225, 81, 25);
    		}
    	}
    }

    a {
    	text-decoration: none !important;
    	display: block;

    	&.active {
    		span {
    			color: rgb(225, 81, 25);
    		}
    	}
    }

	i {
	    display: block;
	    height: 48px;

		&.ai-icon-1 {
	    	background: url(/images/buyers/icon-1-big.png) center center no-repeat;
		}
		&.ai-icon-2 {
	    	background: url(/images/buyers/icon-2-big.png) center center no-repeat;
		}
		&.ai-icon-3 {
	    	background: url(/images/buyers/icon-3-big.png) center center no-repeat;
		}
		&.ai-icon-4 {
	    	background: url(/images/buyers/icon-4-big.png) center center no-repeat;
		}
		&.ai-icon-5 {
	    	background: url(/images/buyers/icon-5-big.png) center center no-repeat;
		}
		&.ai-icon-6 {
	    	background: url(/images/buyers/icon-6-big.png) center center no-repeat;
		}
	}

	span {
        display: block;
	    padding: 8px 0;
	    text-transform: uppercase;
	    margin-top: 0;
	    margin: 10px auto;
	    font-size: 11px;
	    line-height: 14px;
	    width: 75%;
	    color: rgb(150, 147, 147);
	    text-align: center;
	}
}