#contact-us {
	.form-title {
		h4 {
		    font-size: 20px;
		    font-weight: bold;
		    margin-bottom: 0;
		}

		span {
		    margin-bottom: 30px;
		    display: block;
		    line-height: 25px;
		}
	}
	.form-contacts {
	    color: #5b5b5b;

		h3 {
		    font-size: 25px;
		    font-weight: 400;
		    line-height: 29px;
    		margin-bottom: 12px;
		}

		div {
			margin-bottom: 8px;
			em {
				margin-right: 8px;
			    font-size: 18px;
			    color: #5b5b5b;
			    min-width: 25px;
			    display: inline-block;
			}

			a, a:hover {
	    		color: #5b5b5b;
			}
		}
	}

	textarea {
		resize: none;
		height: 98px;
		padding-left: 12px;
	}

	p {
		margin-top: 24px;
		margin-bottom: 4px;
	}

	button {
		&:hover {
    		background: #e15119 !important;
		}

	    background: #507E4D !important;
	    color: #ffffff !important;
	    border: none;
	    border-radius: 0;
	    outline: none;
	    cursor: pointer;
	    line-height: 38px;
	    text-align: center;
	    font-size: 17px;
	    font-weight: 500;
	    letter-spacing: 2px;
	    margin-top: 20px;
	}

	.p-0 {
		padding: 0 !important;
	}

	.m-b-10 {
		margin-bottom: 10px;
	}

	.m-l-10 {
		margin-left: 10px !important;
	}
}