#intro-section {
	// height: calc(100vh);
	height: 662px;
    z-index: 0;
    border: none;
    margin: 0;
    position: relative;

    .flex-prev {
    	left: 50px;
	    opacity: 1;
	    overflow: initial;

	    &:before {
			font-family: agentimage!important;
    		content: "\b0003" !important;
    		font-size: 100px;
    		color: #FFF;
	    }
    }

    .flex-next {
    	right: 50px;
	    left: auto;
	    opacity: 1;
	    overflow: initial;

	    &:before {
			font-family: agentimage!important;
    		content: "\b0004" !important;
    		font-size: 100px;
    		color: #FFF;
	    }
    }

    .flex-control-nav {
    	display: none;
    }

    .cta-area {
	    position: absolute;
	    left: 50%;
	    top: 60%;
	    transform: translateX(-50%) translateY(-60%);
	    bottom: 0px;
	    z-index: 1;
	    width: 100%;
	    text-align: center;

	    a {
	    	width: 305px;
	    	height: 305px;
	    	display: inline-block;
    		background: #507E4D;
    		border-radius: 50%;
    		margin: 0 8px;
    		transition: all .25s ease-in-out;
		    -moz-transition: all .25s ease-in-out;
		    -webkit-transition: all .25s ease-in-out;

    		&:hover {
    			background: #FFF;

    			span {
    				&.inner-border {
			    		border: 1px solid #507E4D;

			    		em {
			    			background: #507E4D;

			    			label {
			    				color: #FFF;
			    			}
			    		}
    				}
    			}
    		}

    		span {
			    width: 100%;
			    border-radius: 50%;
			    padding: 14px;
			    display: block;
			    height: 100%;
			    transition: all .25s ease-in-out;
			    -moz-transition: all .25s ease-in-out;
			    -webkit-transition: all .25s ease-in-out;

			    &.inner-border {
			    	border: 1px solid #FFF;
			    	padding: 6px;

			    	em {
			    		display: block;
			    		height: 100%;
			    		width: 100%;
			    		text-align: center;
    					background: #dadada;
    					border-radius: 50%;
    					position: relative;
    					transition: all .25s ease-in-out;
					    -moz-transition: all .25s ease-in-out;
					    -webkit-transition: all .25s ease-in-out;

    					label {
						    position: absolute;
						    left: 50%;
						    top: 50%;
						    transform: translateX(-50%) translateY(-50%);
						    font-style: normal;
						    font-size: 30px;
						    cursor: pointer;
						    font-weight: bolder;
						    color: #507E4D;
						    transition: all .25s ease-in-out;
						    -moz-transition: all .25s ease-in-out;
						    -webkit-transition: all .25s ease-in-out;
    					}
			    	}
			    }
    		}
	    }
    }
}

#welcome-section {
	// height: calc(100vh - 69px);
	height: 593px;
	background: url(/images/welcome-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	div.row {
		&:first-child {
			border-bottom: 1px solid rgb(210, 210, 210);
		}

		&#quick-search {
			padding-top: 24px;
			padding-bottom: 24px;

			h4 {
		    	color: #507E4D;
				font-family: Yellowtail;
				font-size: 40px;
			}

			div.quick-search-form {
				margin-top: 12px;

				div.form-row {
					align-items: center;
				}

				input, button {
					height: 30px;
					border-radius: 19px;
					font-size: 12px;
				}

				button {
					color: #FFF;
					font-size: 13px;
					font-weight: bold;
					text-transform: uppercase;
					background: #e15119;
    				padding-top: 5px;
				}

				i {
					font-size: 28px;
		    		color: #507E4D;
				}
			}
		}
	}

	div#welcome-content {
		margin-top: 55px;

		span.welcome-text {
		    color: #507E4D;
		    font: 300 14px 'Open Sans', sans-serif;
		}

		h4 {
			span.agent-name {
			    font: 400 44px/30px 'Yellowtail', sans-serif;
			    color: #507E4D;
			    line-height: 40px;
			}

			span.real-estate-text {
    			color: #507E4D;
			    font-style: italic !important;
			    font: 400 20px/30px 'Open Sans', sans-serif;
			    padding-left: 5px;
			}
		}

		p {
		    color: #333;
		    font: 400 13px/24px 'Open Sans', sans-serif;
		    padding: 10px 0 0;
		    text-align: left;
		    margin-bottom: 0;
		}
	}

	div#agent-photo {
		margin-top: 40px;
	}
}

#featured-section {
	// height: calc(100vh - 69px);
	height: 593px;

	div.container, div.row {
		height: 296.5px;
	}

	div.property {
		background: #DEDEDE url(/images/fp-img.jpg) no-repeat;
		background-size: 50% 100%;
		background-position: right;

		div.row {
			padding: 24px 0;
			color: #507E4D;
		}

		a {
			color: #507E4D;
		}
	}

	div.community {
		background: #507E4D url(/images/fc-img.jpg) no-repeat;
		background-size: 50% 100%;
		background-position: left;

		div.row {
			padding: 24px 0;
			color: #FFF;
		}

		a {
			color: #FFF;
		}
	}

	h4.featured-title {
		font-size: 36px;
		font-family: Yellowtail;
	    padding: 0px 0 26px;
	    border-bottom: 1px solid #bfc3cc;
	}

	div.featured-info {
		margin-top: 20px;

		strong, span {
			display: block;
		}

		strong {
			font-size: 24px;
		}

		span {
		    font-size: 18px;
		    font-style: italic;
		    color: #5b5b5b;
		    min-height: 27px;
		}

		a {
			margin-top: 20px;
			border: 1px solid;
			border-radius: 20px;
			font-size: 14px;
			padding: 8px 32px;
		}
	}
}

#cta-section {
	background: #DEDEDE;
	// height: calc(100vh - 69px);
	height: 593px;

	div.row, div.container {
		height: 100%;
		align-items: center;
	}

	.cta-block {
		height: 360px;
		background: #FFF;
		border-radius: 20px;
		margin: 0 12px;
		padding: 48px 24px;
		text-align: center;
		position: relative;
		margin-bottom: 45px;

		h4 {
		    font: 400 40px/30px 'Yellowtail', sans-serif;
		    color: #507E4D;
		}

		&.blog {
			span {
				display: block;
			    font-size: 16px;
			    font-weight: 700;
			    padding: 20px 0 10px;
		    	color: #507E4D;
			}

			p {
			    padding: 0 0 10px;
			    font-size: 14px;
			    color: #7d7d7d;
			    line-height: 24px;
			}
		}

		&.testimonials {
			p {
			    padding: 20px 0 10px;
			    font-size: 14px;
			    font-style: italic;
			    color: #7d7d7d;
			    line-height: 24px;

				span.quote {
					font-size: 24px;
				}
			}

			span.author {
				display: block;
			    font-size: 16px;
			    font-weight: 700;
			    padding: 12px 0 10px;
		    	color: #507E4D;
			}
		}

		&.areas {
			div.row {
				margin-top: 28px;
				height: 140px;
			}

			div.col-6 {
				text-align: left;

				a {
					display: block;
    				font-size: 13px;
    				text-decoration: none;
    				color: #727272;
    				border-bottom: 1px solid #ededed;
				}
			}
		}

		a.read-more-btn {
			position: absolute;
			bottom: -45px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 	90px;
			height: 90px;
			border-radius: 50%;
	    	background: #507E4D;
	    	color: #FFF;
	    	padding: 4px;
	    	text-decoration: none;

	    	.mid-circle {
			    height: 100%;
			    background: #FFF;
			    border-radius: 50%;
			    padding: 1px;
	    	}

	    	.inner-circle {
			    height: 100%;
			    background: #507E4D;
			    border-radius: 50%;
			    padding-top: 24px;

			    i, span {
			    	color: #FFF;
			    	display: block;
			    	font-size: 12px;
			    	padding: 0;
			    	font-weight: 100;
			    }
	    	}
		}
	}
}