@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);#intro-section {
  height: 662px;
  z-index: 0;
  border: none;
  margin: 0;
  position: relative;
}

#intro-section .flex-prev {
  left: 50px;
  opacity: 1;
  overflow: initial;
}

#intro-section .flex-prev:before {
  font-family: agentimage !important;
  content: "\B0003" !important;
  font-size: 100px;
  color: #FFF;
}

#intro-section .flex-next {
  right: 50px;
  left: auto;
  opacity: 1;
  overflow: initial;
}

#intro-section .flex-next:before {
  font-family: agentimage !important;
  content: "\B0004" !important;
  font-size: 100px;
  color: #FFF;
}

#intro-section .flex-control-nav {
  display: none;
}

#intro-section .cta-area {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translateX(-50%) translateY(-60%);
          transform: translateX(-50%) translateY(-60%);
  bottom: 0px;
  z-index: 1;
  width: 100%;
  text-align: center;
}

#intro-section .cta-area a {
  width: 305px;
  height: 305px;
  display: inline-block;
  background: #507E4D;
  border-radius: 50%;
  margin: 0 8px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

#intro-section .cta-area a:hover {
  background: #FFF;
}

#intro-section .cta-area a:hover span.inner-border {
  border: 1px solid #507E4D;
}

#intro-section .cta-area a:hover span.inner-border em {
  background: #507E4D;
}

#intro-section .cta-area a:hover span.inner-border em label {
  color: #FFF;
}

#intro-section .cta-area a span {
  width: 100%;
  border-radius: 50%;
  padding: 14px;
  display: block;
  height: 100%;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

#intro-section .cta-area a span.inner-border {
  border: 1px solid #FFF;
  padding: 6px;
}

#intro-section .cta-area a span.inner-border em {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #dadada;
  border-radius: 50%;
  position: relative;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

#intro-section .cta-area a span.inner-border em label {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-style: normal;
  font-size: 30px;
  cursor: pointer;
  font-weight: bolder;
  color: #507E4D;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

#welcome-section {
  height: 593px;
  background: url(/images/welcome-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

#welcome-section div.row:first-child {
  border-bottom: 1px solid #d2d2d2;
}

#welcome-section div.row#quick-search {
  padding-top: 24px;
  padding-bottom: 24px;
}

#welcome-section div.row#quick-search h4 {
  color: #507E4D;
  font-family: Yellowtail;
  font-size: 40px;
}

#welcome-section div.row#quick-search div.quick-search-form {
  margin-top: 12px;
}

#welcome-section div.row#quick-search div.quick-search-form div.form-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcome-section div.row#quick-search div.quick-search-form input,
#welcome-section div.row#quick-search div.quick-search-form button {
  height: 30px;
  border-radius: 19px;
  font-size: 12px;
}

#welcome-section div.row#quick-search div.quick-search-form button {
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background: #e15119;
  padding-top: 5px;
}

#welcome-section div.row#quick-search div.quick-search-form i {
  font-size: 28px;
  color: #507E4D;
}

#welcome-section div#welcome-content {
  margin-top: 55px;
}

#welcome-section div#welcome-content span.welcome-text {
  color: #507E4D;
  font: 300 14px 'Open Sans', sans-serif;
}

#welcome-section div#welcome-content h4 span.agent-name {
  font: 400 44px/30px 'Yellowtail', sans-serif;
  color: #507E4D;
  line-height: 40px;
}

#welcome-section div#welcome-content h4 span.real-estate-text {
  color: #507E4D;
  font-style: italic !important;
  font: 400 20px/30px 'Open Sans', sans-serif;
  padding-left: 5px;
}

#welcome-section div#welcome-content p {
  color: #333;
  font: 400 13px/24px 'Open Sans', sans-serif;
  padding: 10px 0 0;
  text-align: left;
  margin-bottom: 0;
}

#welcome-section div#agent-photo {
  margin-top: 40px;
}

#featured-section {
  height: 593px;
}

#featured-section div.container,
#featured-section div.row {
  height: 296.5px;
}

#featured-section div.property {
  background: #DEDEDE url(/images/fp-img.jpg) no-repeat;
  background-size: 50% 100%;
  background-position: right;
}

#featured-section div.property div.row {
  padding: 24px 0;
  color: #507E4D;
}

#featured-section div.property a {
  color: #507E4D;
}

#featured-section div.community {
  background: #507E4D url(/images/fc-img.jpg) no-repeat;
  background-size: 50% 100%;
  background-position: left;
}

#featured-section div.community div.row {
  padding: 24px 0;
  color: #FFF;
}

#featured-section div.community a {
  color: #FFF;
}

#featured-section h4.featured-title {
  font-size: 36px;
  font-family: Yellowtail;
  padding: 0px 0 26px;
  border-bottom: 1px solid #bfc3cc;
}

#featured-section div.featured-info {
  margin-top: 20px;
}

#featured-section div.featured-info strong,
#featured-section div.featured-info span {
  display: block;
}

#featured-section div.featured-info strong {
  font-size: 24px;
}

#featured-section div.featured-info span {
  font-size: 18px;
  font-style: italic;
  color: #5b5b5b;
  min-height: 27px;
}

#featured-section div.featured-info a {
  margin-top: 20px;
  border: 1px solid;
  border-radius: 20px;
  font-size: 14px;
  padding: 8px 32px;
}

#cta-section {
  background: #DEDEDE;
  height: 593px;
}

#cta-section div.row,
#cta-section div.container {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cta-section .cta-block {
  height: 360px;
  background: #FFF;
  border-radius: 20px;
  margin: 0 12px;
  padding: 48px 24px;
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}

#cta-section .cta-block h4 {
  font: 400 40px/30px 'Yellowtail', sans-serif;
  color: #507E4D;
}

#cta-section .cta-block.blog span {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0 10px;
  color: #507E4D;
}

#cta-section .cta-block.blog p {
  padding: 0 0 10px;
  font-size: 14px;
  color: #7d7d7d;
  line-height: 24px;
}

#cta-section .cta-block.testimonials p {
  padding: 20px 0 10px;
  font-size: 14px;
  font-style: italic;
  color: #7d7d7d;
  line-height: 24px;
}

#cta-section .cta-block.testimonials p span.quote {
  font-size: 24px;
}

#cta-section .cta-block.testimonials span.author {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 0 10px;
  color: #507E4D;
}

#cta-section .cta-block.areas div.row {
  margin-top: 28px;
  height: 140px;
}

#cta-section .cta-block.areas div.col-6 {
  text-align: left;
}

#cta-section .cta-block.areas div.col-6 a {
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: #727272;
  border-bottom: 1px solid #ededed;
}

#cta-section .cta-block a.read-more-btn {
  position: absolute;
  bottom: -45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #507E4D;
  color: #FFF;
  padding: 4px;
  text-decoration: none;
}

#cta-section .cta-block a.read-more-btn .mid-circle {
  height: 100%;
  background: #FFF;
  border-radius: 50%;
  padding: 1px;
}

#cta-section .cta-block a.read-more-btn .inner-circle {
  height: 100%;
  background: #507E4D;
  border-radius: 50%;
  padding-top: 24px;
}

#cta-section .cta-block a.read-more-btn .inner-circle i,
#cta-section .cta-block a.read-more-btn .inner-circle span {
  color: #FFF;
  display: block;
  font-size: 12px;
  padding: 0;
  font-weight: 100;
}

.buyers-header {
  margin: 44px 0 20px 0;
}

.buyers-header div:hover span {
  color: #e15119;
}

.buyers-header a {
  text-decoration: none !important;
  display: block;
}

.buyers-header a.active span {
  color: #e15119;
}

.buyers-header i {
  display: block;
  height: 48px;
}

.buyers-header i.ai-icon-1 {
  background: url(/images/buyers/icon-1-big.png) center center no-repeat;
}

.buyers-header i.ai-icon-2 {
  background: url(/images/buyers/icon-2-big.png) center center no-repeat;
}

.buyers-header i.ai-icon-3 {
  background: url(/images/buyers/icon-3-big.png) center center no-repeat;
}

.buyers-header i.ai-icon-4 {
  background: url(/images/buyers/icon-4-big.png) center center no-repeat;
}

.buyers-header i.ai-icon-5 {
  background: url(/images/buyers/icon-5-big.png) center center no-repeat;
}

.buyers-header i.ai-icon-6 {
  background: url(/images/buyers/icon-6-big.png) center center no-repeat;
}

.buyers-header span {
  display: block;
  padding: 8px 0;
  text-transform: uppercase;
  margin-top: 0;
  margin: 10px auto;
  font-size: 11px;
  line-height: 14px;
  width: 75%;
  color: #969393;
  text-align: center;
}

.sellers-header {
  margin: 44px 0 20px 0;
}

.sellers-header div:hover span {
  color: #e15119;
}

.sellers-header a {
  text-decoration: none !important;
  display: block;
}

.sellers-header a.active span {
  color: #e15119;
}

.sellers-header i {
  display: block;
  height: 48px;
}

.sellers-header i.ai-icon-1 {
  background: url(/images/buyers/icon-1-big.png) center center no-repeat;
}

.sellers-header i.ai-icon-2 {
  background: url(/images/buyers/icon-2-big.png) center center no-repeat;
}

.sellers-header i.ai-icon-3 {
  background: url(/images/buyers/icon-3-big.png) center center no-repeat;
}

.sellers-header i.ai-icon-4 {
  background: url(/images/buyers/icon-4-big.png) center center no-repeat;
}

.sellers-header i.ai-icon-5 {
  background: url(/images/buyers/icon-5-big.png) center center no-repeat;
}

.sellers-header i.ai-icon-6 {
  background: url(/images/buyers/icon-6-big.png) center center no-repeat;
}

.sellers-header span {
  display: block;
  padding: 8px 0;
  text-transform: uppercase;
  margin-top: 0;
  margin: 10px auto;
  font-size: 11px;
  line-height: 14px;
  width: 75%;
  color: #969393;
  text-align: center;
}

#contact-us .form-title h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

#contact-us .form-title span {
  margin-bottom: 30px;
  display: block;
  line-height: 25px;
}

#contact-us .form-contacts {
  color: #5b5b5b;
}

#contact-us .form-contacts h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 12px;
}

#contact-us .form-contacts div {
  margin-bottom: 8px;
}

#contact-us .form-contacts div em {
  margin-right: 8px;
  font-size: 18px;
  color: #5b5b5b;
  min-width: 25px;
  display: inline-block;
}

#contact-us .form-contacts div a,
#contact-us .form-contacts div a:hover {
  color: #5b5b5b;
}

#contact-us textarea {
  resize: none;
  height: 98px;
  padding-left: 12px;
}

#contact-us p {
  margin-top: 24px;
  margin-bottom: 4px;
}

#contact-us button {
  background: #507E4D !important;
  color: #ffffff !important;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  line-height: 38px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 20px;
}

#contact-us button:hover {
  background: #e15119 !important;
}

#contact-us .p-0 {
  padding: 0 !important;
}

#contact-us .m-b-10 {
  margin-bottom: 10px;
}

#contact-us .m-l-10 {
  margin-left: 10px !important;
}

#fof-content .fof-content p {
  font-size: 20px;
  line-height: 34px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 100;
}

#fof-content .fof-content h4 {
  line-height: 1.7;
  font-weight: bolder;
  font-size: 24px;
  margin: 10px 0 !important;
}

#fof-content .fof-content input {
  padding-left: 12px;
  margin-bottom: 9px;
}

#fof-content .fof-content textarea {
  height: 108px;
  resize: none;
  margin-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
}

#fof-content .fof-content button {
  background: #444444 !important;
  color: #ffffff !important;
  height: 30px;
  font-weight: 600;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  margin-top: 12px;
}

#fof-content .fof-content .p-l-0 {
  padding-left: 0 !important;
}

body {
  background: rgba(69, 86, 133, 0.9);
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

header #social-links {
  display: block;
}

header #social-links ul {
  list-style: none;
  color: #FFF;
  margin: 8px 0;
  height: 32px;
}

header #social-links ul li {
  display: inline-block;
  margin-right: 8px;
}

header #social-links ul li a {
  color: #FFF;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

header #social-links ul li a:hover {
  color: #e34d18;
}

header #social-links ul li a span {
  border-radius: 50%;
  border: 1px solid #FFF;
  position: relative;
  height: 32px;
  width: 32px;
  display: block;
}

header #social-links ul li a span i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header #main-header {
  width: 100%;
  background: #000;
}

header #main-header div.row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #main-header div#logo {
  display: inline-block;
  vertical-align: middle;
}

header #main-header div#logo a {
  font-family: Yellowtail;
  font-size: 44px;
  text-decoration: none;
  color: #FFF;
}

header #main-header div#logo img {
  padding: 16px 0;
}

header #main-header div#contact {
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #68769c;
}

header #main-header div#contact span {
  color: #FFF;
}

header #main-header #navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

header #main-header #navigation li {
  display: inline-block;
}

header #main-header #navigation li a {
  display: block;
  padding: 33px 16px;
  color: #c8d7e3;
  font: 600 12px 'Open Sans', sans-serif;
  text-decoration: none;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

header #main-header #navigation li a:hover {
  background: #dadada;
  color: #507E4D;
}

main:not(.home) {
  background: #464646;
  padding-top: 117px;
  height: auto;
}

main:not(.home) section.content-container {
  padding-top: 72px;
  padding-bottom: 72px;
  background: #dedede;
  height: auto;
  min-height: 662px;
}

main:not(.home) section.content-container .post-archive {
  border-bottom: 1px dotted;
  margin: 0;
  margin-right: 15px;
  padding-bottom: 40px;
}

main:not(.home) section.content-container .post-archive a,
main:not(.home) section.content-container .post-archive a:hover {
  color: #55A14F;
}

main:not(.home) section.content-container .post-archive:not(:first-child) {
  padding-top: 20px;
}

main:not(.home) section.content-container .post-archive .post-image {
  padding-left: 0;
}

main:not(.home) section.content-container .post-archive .post-details .post-title {
  font: 500 24px/18px 'Open Sans', sans-serif;
  display: block;
  color: #464646;
  margin: 0 0 15px;
}

main:not(.home) section.content-container .post-archive .post-details .post-content {
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

main:not(.home) section.content-container .post-archive .post-details .read-more {
  text-decoration: underline;
  font-style: italic;
}

main:not(.home) section.content-container .post-single .post-content {
  margin-top: 24px;
}

main:not(.home) .breadcrumbs a,
main:not(.home) .breadcrumbs a:hover {
  color: #55A14F;
}

main:not(.home) .breadcrumbs ul {
  list-style: none;
  padding-left: 0;
}

main:not(.home) .breadcrumbs ul li,
main:not(.home) .breadcrumbs ul span {
  display: inline-block;
  vertical-align: middle;
}

main:not(.home) .breadcrumbs ul span {
  font-size: 18px;
}

main:not(.home) .page-title {
  margin: 1.5em 0;
}

main:not(.home) .page-title h2 {
  font: 400 45px/30px 'Yellowtail', sans-serif;
  color: #507E4D;
  display: block;
}

main:not(.home) h3 {
  font-weight: bolder;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  font-size: 18px;
  margin: 14px 0;
}

main:not(.home) #content-sidebar {
  text-align: center;
  padding: 0px;
}

main:not(.home) #content-sidebar .sidebar-info {
  margin-top: 12px;
  color: #507E4D;
}

main:not(.home) #content-sidebar .sidebar-info h2 {
  font: 400 35px/30px 'Yellowtail', sans-serif;
  display: block;
  color: #507E4D;
}

main:not(.home) #content-sidebar .sidebar-info span {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

main:not(.home) #content-sidebar .sidebar-info a {
  display: block;
  font-weight: 400;
  outline: none;
  text-decoration: none;
  color: #507E4D;
  line-height: 12px;
}

main:not(.home) #content-sidebar #social-links {
  display: block;
  margin-top: 32px;
}

main:not(.home) #content-sidebar #social-links ul {
  list-style: none;
  color: #507E4D;
  margin: 8px 0;
  height: 32px;
  padding-left: 0px;
}

main:not(.home) #content-sidebar #social-links ul li {
  display: inline-block;
}

main:not(.home) #content-sidebar #social-links ul li a {
  color: #507E4D;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

main:not(.home) #content-sidebar #social-links ul li a:hover {
  color: #e34d18;
}

main:not(.home) #content-sidebar #social-links ul li a span {
  border-radius: 50%;
  border: 1px solid #507E4D;
  position: relative;
  height: 28px;
  width: 28px;
  display: block;
}

main:not(.home) #content-sidebar #social-links ul li a span i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

main:not(.home) #content-sidebar .cta-area {
  padding-top: 16px;
}

main:not(.home) #content-sidebar .cta-area a {
  width: 200px;
  height: 200px;
  display: block;
  background: #507E4D;
  border-radius: 50%;
  margin: 12px auto;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

main:not(.home) #content-sidebar .cta-area a:hover {
  background: #FFF;
}

main:not(.home) #content-sidebar .cta-area a:hover span.inner-border {
  border: 1px solid #507E4D;
}

main:not(.home) #content-sidebar .cta-area a:hover span.inner-border em {
  background: #507E4D;
}

main:not(.home) #content-sidebar .cta-area a:hover span.inner-border em label {
  color: #FFF;
}

main:not(.home) #content-sidebar .cta-area a span {
  width: 100%;
  border-radius: 50%;
  padding: 8px;
  display: block;
  height: 100%;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

main:not(.home) #content-sidebar .cta-area a span.inner-border {
  border: 1px solid #FFF;
  padding: 6px;
}

main:not(.home) #content-sidebar .cta-area a span.inner-border em {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #dadada;
  border-radius: 50%;
  position: relative;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

main:not(.home) #content-sidebar .cta-area a span.inner-border em label {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-style: normal;
  font-size: 30px;
  cursor: pointer;
  font-weight: bolder;
  color: #507E4D;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

footer {
  width: 100%;
  height: auto;
  background: #507E4D;
  padding-top: 32px;
  padding-bottom: 16px;
}

footer .footer-navigation {
  padding: 0;
  margin-bottom: 12px;
}

footer .footer-navigation li {
  display: inline-block;
}

footer .footer-navigation li:not(:first-child) {
  padding-left: 9px;
}

footer .footer-navigation li:not(:last-child) {
  border-right: 1px solid #FFF;
}

footer .footer-navigation li a {
  color: #FFF;
  font: normal 12px/12px 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 9px;
  display: block;
}

footer p {
  font: normal 10px 'Open Sans', sans-serif;
  color: #fff;
  text-transform: uppercase;
}

footer p a {
  color: #FFF;
}

footer p i {
  font-size: 28px;
  padding: 0 3px;
  display: inline-block;
}

footer #social-links ul {
  list-style: none;
  color: #FFF;
  margin: 8px 0;
  height: 32px;
  padding-left: 0;
}

footer #social-links ul li {
  display: inline-block;
  margin-right: 8px;
}

footer #social-links ul li a {
  color: #FFF;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

footer #social-links ul li a:hover {
  color: #e34d18;
}

footer #social-links ul li a span {
  border-radius: 50%;
  border: 1px solid #FFF;
  position: relative;
  height: 32px;
  width: 32px;
  display: block;
}

footer #social-links ul li a span i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

footer img.footer-logo {
  padding: 0;
}

