@media screen and (max-width: 768px) {

#intro-section .cta-area a {
  width: 200px;
  height: 200px;
}

#img_agent{
	width: 180px;
	text-align: center
}

#welcome-section {
  height: 993px;
  background: url(/images/welcome-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

}

@media screen and (max-width: 320px) {

#intro-section .cta-area a {
  width: 150px;
  height: 150px;
}

#intro-section .cta-area {
top:54%;
}
#welcome-section {
  height: 1493px;
  background: url(/images/welcome-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

#img_agent{
	width: 250px;
	text-align: center
}

}