.topnav {
	overflow: hidden;
}

.topnav .icon {
	display: none !important;
}


/*Media Queries*/

/*maximum of 767px*/
@media screen and (max-width: 767px) {


	/*Hide all links*/
	.topnav a {display: none !important;}
  	.topnav a.icon {
	    float: right;
	    display: block !important;
	    font-size: 35px !important;
	    border: 1px solid #565656;
	    border-radius: 13px;
	    padding: 5px 15px !important;
	    background-color: transparent !important;
  	}
  	.topnav ul {
  		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
  	}

    header #main-header #navigation li a {
    padding: 23px 6px;
  }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  	.topnav.responsive {position: relative;}
  	.topnav.responsive a.icon {
	    position: absolute;
	    right: 0;
	    top: 0;
  	}
  	.topnav.responsive a {
	    float: none;
	    display: block !important;
	    text-align: left;
	    /*-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;*/
  	}
  	.topnav .nav_li {
  		margin-top: 50px;
  	}

  	/*Top social links*/
  	header #social-links ul {
  		display: none;
  	}
  	header #main-header div#logo {
  		padding: 0px;
  		width: 75%;
  	}
  	header #main-header div#contact {
  		font-size: 10px;
  		width: 70%;
  	}
  	header #main-header div.pull-right {
  		top: -56px;
  	}

}

@media (min-width: 320px) and (max-width: 374px) {


/*HOMEPAGE*/
	/*.home#content-wrapper {
		width: 320px;
	}*/
	#intro-section .cta-area a span {
		margin-top: 18px !important;
		width: 85%;
		height: 85%;
		padding: 0;
		margin: auto;
	}
	#intro-section .cta-area a {
		width: 43% !important;
		height: 50% !important;
	}
	#intro-section .cta-area a span.inner-border em label {
		font-size: 18px;
	}
	.flexslider .slides img {
		height: 540px !important;
	}
	#intro-section {
		height: 540px;
	}
	#intro-section .cta-area {
		transform: translateX(-50%) translateY(-40%);
	}
	#welcome-section {
		height: 1140px !important;
	}
	#welcome-section div#welcome-content, #welcome-section div#welcome-content p {
		text-align: center;;
	}
	#welcome-section div#welcome-content span.welcome-text {
		font-size: 25px;
	}
	#welcome-section div#welcome-content h4 span.real-estate-text {
		font-size: 30px;
	}
	.form-row>.col, .form-row>[class*=col-] {
		max-width: 80%;
    	flex: 60%;
    	margin: auto;
    	padding: 2px;
    	display: flex;
	}
	#welcome-section div.row#quick-search div.quick-search-form input {
		height: 40px;
	}
	#welcome-section div.row#quick-search h4 {
		margin-left: 60px;
	}
	#welcome-section div.row#quick-search div.quick-search-form i {
		margin: auto;
	}
	#welcome-section .pull-right {
		display: flex;
		margin: auto;
	}

	#featured-section div.property {
		background-image: none;
	}
	#featured-section div.property div.row {
		display: block;
		margin-top: auto;
		text-align: center;
	}
	#featured-section div.property div.row .col-6 {
		max-width: 100%;
		flex: none;
	}
	#featured-section div.community {
		background-image: none;
	}
	#featured-section .community .offset-6 {
		margin-left: 0;
		text-align: center;
		max-width: 100%;
	}
	#featured-section div.community div.row {
		display: block;
		margin: auto;
	}
	#cta-section {
		height: auto;
		padding: 15px;
	}
	#cta-section .cta-block {
		margin-bottom: 60px;
	}
	/*HOMEPAGE END*/

	/*PROPERTIES PAGE*/
	.content-container .container .row {
		display: block;
	}
	.content-container .container .row .col-9 {
		max-width: 100%;
	}
	.content-container .container .page-title h2 {
		text-align: center;
	}
	.content-container .row.post-single .list {
		padding: 20px;
	}
	ul.list li .prop-img-wrap {
		width: 100% !important;
	}
	ul.list li .prop-img-wrap .listing-item img {
		width: 100%;
	}
	main:not(.home) #content-sidebar {
		max-width: 100%;
	}
	ul.list li .prop-det {
		text-align: center;
		margin-left: 0 !important;
	}
	ul.list li .prop-det, ul.list li .prop-det .prop-title {
		width: 100% !important;
	}
	ul.list li p.prop-desc {
		text-align: center !important;
	}
	ul.list li .prop-det .view-details {
		width: 100% !important;
	}
	/*PROPERTIES PAGE END*/


	/*COMMUNITIES PAGE*/
	main:not(.home) .breadcrumbs ul {
		text-align: center;
	}
	main:not(.home) section.content-container .post-archive .post-image {
		max-width: 100%;
		padding-right: 0 !important;
	}
	main:not(.home) section.content-container .post-archive {
		margin-right: 0;
	}
	main:not(.home) section.content-container .post-archive .post-details {
		max-width: 100%;
		padding-top: 20px;
    	text-align: center;
	}
	/*COMMUNITIES PAGE END*/

	/*BUYERS PAGE*/
	.content-container .buyers-header .col-2 {
		max-width: 100%;
	}
	main:not(.home) .content-container .container .row .col-9 p {
		text-align: justify;
		padding-top: 20px;
	}
	main:not(.home) .content-container .container .row .col-9 h3 {
		text-align: center;
	}
	/*BUYERS PAGE END*/

	/*Footer*/
	footer .container .row .col-md-7 {
		text-align: center;
	}
	footer .container .row .col-md-5 .row {
		display: block;
	}
	footer #social-links ul {
		display: flex;
	}
	footer #social-links ul li {
		margin: auto;
	}
	footer img.footer-logo {
		display: flex;
		margin: auto;
		max-width: 50%;
	}
	/*Footer*/

	}



	@media (min-width: 375px) and (max-width: 424px) {

	/*.home#content-wrapper {
		width: 320px;
	}*/

	/*HOME PAGE*/
	#intro-section .cta-area a span {
		margin-top: 18px !important;
		width: 85%;
		height: 85%;
		padding: 0;
		margin: auto;
	}
	#intro-section .cta-area a {
		width: 43% !important;
		height: 60% !important;
	}
	#intro-section .cta-area a span.inner-border em label {
		font-size: 18px;
	}
	.flexslider .slides img {
		height: 540px !important;
	}
	#intro-section {
		height: 540px;
	}
	#intro-section .cta-area {
		transform: translateX(-50%) translateY(-40%);
	}
	#welcome-section {
		height: 1050px !important;
	}
	#welcome-section #img_agent {
		display: flex;
		margin: auto;
	}
	#welcome-section div#welcome-content, #welcome-section div#welcome-content p {
		text-align: center;;
	}
	#welcome-section div#welcome-content span.welcome-text {
		font-size: 25px;
	}
	#welcome-section div#welcome-content h4 span.real-estate-text {
		font-size: 30px;
	}
	.form-row>.col, .form-row>[class*=col-] {
		max-width: 80%;
    	flex: 60%;
    	margin: auto;
    	padding: 2px;
    	display: flex;
	}
	#welcome-section div.row#quick-search div.quick-search-form input {
		height: 40px;
	}
	#welcome-section .pull-right {
		margin: auto;
	}
	#welcome-section div.row#quick-search h4 {
		display: flex;
		margin: auto;
	}
	#welcome-section div.row#quick-search div.quick-search-form i {
		margin: auto;
	}

	#featured-section div.property {
		background-image: none;
	}
	#featured-section div.property div.row {
		display: block;
		margin-top: auto;
		text-align: center;
	}
	#featured-section div.property div.row .col-6 {
		max-width: 100%;
		flex: none;
	}
	#featured-section div.community {
		background-image: none;
	}
	#featured-section .community .offset-6 {
		margin-left: 0;
		text-align: center;
		max-width: 100%;
	}
	#featured-section div.community div.row {
		display: block;
		margin: auto;
	}
	#cta-section {
		height: auto;
		padding: 15px;
	}
	#cta-section .cta-block {
		margin-bottom: 60px;
	}
	/*HOME PAGE END*/

	/*PROPERTIES PAGE*/
	.content-container .container .row {
		display: block;
	}
	.content-container .container .row .col-9 {
		max-width: 100%;
	}
	.content-container .container .page-title h2 {
		text-align: center;
	}
	.content-container .row.post-single .list {
		padding: 20px;
	}
	ul.list li .prop-img-wrap {
		width: 100% !important;
	}
	ul.list li .prop-img-wrap .listing-item img {
		width: 100%;
	}
	main:not(.home) #content-sidebar {
		max-width: 100%;
	}
	ul.list li .prop-det {
		text-align: center;
		margin-left: 0 !important;
	}
	ul.list li .prop-det, ul.list li .prop-det .prop-title {
		width: 100% !important;
	}
	ul.list li p.prop-desc {
		text-align: center !important;
	}
	ul.list li .prop-det .view-details {
		width: 100% !important;
	}
	/*PROPERTIES PAGE END*/

	/*COMMUNITIES PAGE*/
	main:not(.home) .breadcrumbs ul {
		text-align: center;
	}
	main:not(.home) section.content-container .post-archive .post-image {
		max-width: 100%;
		padding-right: 0 !important;
	}
	main:not(.home) section.content-container .post-archive {
		margin-right: 0;
	}
	main:not(.home) section.content-container .post-archive .post-details {
		max-width: 100%;
		padding-top: 20px;
    	text-align: center;
	}
	/*COMMUNITIES PAGE END*/

	/*BUYERS PAGE*/
	.content-container .buyers-header .col-2 {
		max-width: 100%;
	}
	main:not(.home) .content-container .container .row .col-9 p {
		text-align: justify;
		padding-top: 20px;
	}
	main:not(.home) .content-container .container .row .col-9 h3 {
		text-align: center;
	}
	/*BUYERS PAGE END*/

	/*Footer*/
	footer .container .row .col-md-7 {
		text-align: center;
	}
	footer .container .row .col-md-5 .row {
		display: block;
	}
	footer #social-links ul {
		display: flex;
	}
	footer #social-links ul li {
		margin: auto;
	}
	footer img.footer-logo {
		display: flex;
		margin: auto;
		max-width: 50%;
	}
	/*Footer*/

	}


	@media (min-width: 425px) and (max-width: 575px) {

	/*HOMEPAGE*/
	#intro-section .cta-area a span {
		margin-top: 22px !important;
		width: 85%;
		height: 85%;
		padding: 0;
		margin: auto;
	}
	#intro-section .cta-area a {
		width: 43% !important;
		height: 60% !important;
	}
	#intro-section .cta-area a span.inner-border em label {
		font-size: 18px;
	}
	.flexslider .slides img {
		height: 650px !important;
	}
	#intro-section {
		height: 650px;
	}
	#intro-section .cta-area {
		transform: translateX(-50%) translateY(-60%);
	}
	#welcome-section {
		height: 1050px !important;
	}
	#welcome-section #img_agent {
		display: flex;
		margin: auto;
	}
	#welcome-section div#welcome-content, #welcome-section div#welcome-content p {
		text-align: center;;
	}
	#welcome-section div#welcome-content span.welcome-text {
		font-size: 25px;
	}
	#welcome-section div#welcome-content h4 span.real-estate-text {
		font-size: 30px;
	}
	.form-row>.col, .form-row>[class*=col-] {
		max-width: 80%;
    	flex: 60%;
    	margin: auto;
    	padding: 2px;
    	display: flex;
	}
	#welcome-section div.row#quick-search div.quick-search-form input {
		height: 40px;
	}
	#welcome-section .pull-right {
		margin: auto;
	}
	#welcome-section div.row#quick-search h4 {
		display: flex;
		margin: auto;
	}
	#welcome-section div.row#quick-search div.quick-search-form i {
		margin: auto;
	}

	#featured-section div.property {
		background-image: none;
	}
	#featured-section div.property div.row {
		display: block;
		margin-top: auto;
		text-align: center;
	}
	#featured-section div.property div.row .col-6 {
		max-width: 100%;
		flex: none;
	}
	#featured-section div.community {
		background-image: none;
	}
	#featured-section .community .offset-6 {
		margin-left: 0;
		text-align: center;
		max-width: 100%;
	}
	#featured-section div.community div.row {
		display: block;
		margin: auto;
	}
	#cta-section {
		height: auto;
		padding: 15px;
	}
	#cta-section div.row {
		display: block;
	}
	#cta-section .cta-block {
		margin: 0 0 60px;
	}
	/*HOMEPAGE END*/

	/*PROPERTIES PAGE*/
	.content-container .container .row {
		display: block;
	}
	.content-container .container .row .col-9 {
		max-width: 100%;
	}
	.content-container .container .page-title h2 {
		text-align: center;
	}
	.content-container .row.post-single .list {
		padding: 20px;
	}
	ul.list li .prop-img-wrap {
		width: 100% !important;
	}
	ul.list li .prop-img-wrap .listing-item img {
		width: 100%;
	}
	main:not(.home) #content-sidebar {
		max-width: 100%;
	}
	ul.list li .prop-det {
		text-align: center;
		margin-left: 0 !important;
	}
	ul.list li .prop-det, ul.list li .prop-det .prop-title {
		width: 100% !important;
	}
	ul.list li p.prop-desc {
		text-align: center !important;
	}
	ul.list li .prop-det .view-details {
		width: 100% !important;
	}
	/*PROPERTIES PAGE END*/

	/*COMMUNITIES PAGE*/
	main:not(.home) .breadcrumbs ul {
		text-align: center;
	}
	main:not(.home) section.content-container .post-archive .post-image {
		max-width: 100%;
		padding-right: 0 !important;
	}
	main:not(.home) section.content-container .post-archive {
		margin-right: 0;
	}
	main:not(.home) section.content-container .post-archive .post-details {
		max-width: 100%;
		padding-top: 20px;
    	text-align: center;
	}
	/*COMMUNITIES PAGE END*/

	/*BUYERS PAGE*/
	.content-container .buyers-header .col-2 {
		max-width: 100%;
	}
	main:not(.home) .content-container .container .row .col-9 p {
		text-align: justify;
		padding-top: 20px;
	}
	main:not(.home) .content-container .container .row .col-9 h3 {
		text-align: center;
	}
	/*BUYERS PAGE END*/

	/*Footer*/
	footer .container .row .col-md-7 {
		text-align: center;
	}
	footer .container .row .col-md-5 .row {
		display: block;
	}
	footer #social-links ul {
		display: flex;
	}
	footer #social-links ul li {
		margin: auto;
	}
	footer img.footer-logo {
		display: flex;
		margin: auto;
		max-width: 50%;
	}
	/*Footer*/

	}



	@media (min-width: 576px) and (max-width: 768px) {

	/*HOMEPAGE*/
	header #main-header div#contact {
		font-size: 11px;
	}
	#intro-section .cta-area a span {
		margin-top: 55px !important;
		width: 80%;
		height: 80%;
		padding: 0;
		margin: auto;
	}
	#intro-section .cta-area a {
		width: 43% !important;
		height: 75% !important;
	}
	#intro-section .cta-area a span.inner-border em label {
		font-size: 18px;
	}
	.flexslider .slides img {
		height: 950px !important;
	}
	#intro-section {
		height: 950px;
	}
	#intro-section .cta-area {
		transform: translateX(-50%) translateY(-70%);
	}
	#welcome-section {
		height: 840px !important;
	}
	#welcome-section #img_agent {
		display: flex;
		margin: auto;
	}
	#welcome-section div#welcome-content, #welcome-section div#welcome-content p {
		text-align: center;;
	}
	#welcome-section div#welcome-content span.welcome-text {
		font-size: 25px;
	}
	#welcome-section div#welcome-content h4 span.real-estate-text {
		font-size: 30px;
	}
	.form-row>.col, .form-row>[class*=col-] {
		max-width: 80%;
    	flex: 60%;
    	margin: auto;
    	padding: 2px;
    	display: flex;
	}
	#welcome-section div.row#quick-search div.quick-search-form input {
		height: 50px;
	}
	section div.row#quick-search div.quick-search-form button {
		height: 50px !important;
	}
	#welcome-section .pull-right {
		margin: auto;
	}
	#welcome-section div.row#quick-search h4 {
		display: flex;
		margin: auto;
	}
	#welcome-section div.row#quick-search div.quick-search-form i {
		margin: auto;
	}

	#featured-section div.property {
		background-image: none;
	}
	#featured-section div.property div.row {
		display: block;
		margin-top: auto;
		text-align: center;
	}
	#featured-section div.property div.row .col-6 {
		max-width: 100%;
		flex: none;
	}
	#featured-section div.community {
		background-image: none;
	}
	#featured-section .community .offset-6 {
		margin-left: 0;
		text-align: center;
		max-width: 100%;
	}
	#featured-section div.community div.row {
		display: block;
		margin: auto;
	}
	#cta-section {
		height: auto;
		padding: 15px;
	}
	#cta-section div.row {
		display: block;
	}
	#cta-section .cta-block {
		margin: 0 0 60px;
	}
	/*HOMEPAGE END*/

	/*PROPERTIES PAGE*/
	main:not(.home) section.content-container {
		padding-top: 120px;
	}
	.content-container .container .agent-image img {
		width: 45% !important
	}
	.content-container .container .row {
		display: block;
	}
	.content-container .container .row .col-md-9 {
		max-width: 100%;
	}
	.content-container .container .page-title h2 {
		text-align: center;
	}
	.content-container .row.post-single .list {
		padding: 20px;
	}
	ul.list li .prop-img-wrap {
		width: 100% !important;
	}
	ul.list li .prop-img-wrap .listing-item {
		display: flex;
	}
	ul.list li .prop-img-wrap .listing-item img {
		width: 70%;
		margin: auto;
	}
	main:not(.home) #content-sidebar {
		max-width: 100%;
	}
	ul.list li .prop-det {
		text-align: center;
		margin-left: 0 !important;
	}
	ul.list li .prop-det, ul.list li .prop-det .prop-title {
		width: 100% !important;
	}
	ul.list li p.prop-desc {
		text-align: center !important;
	}
	ul.list li .prop-det .view-details {
		width: 100% !important;
	}
	/*PROPERTIES PAGE END*/

	/*COMMUNITIES PAGE*/
	main:not(.home) .breadcrumbs ul {
		text-align: center;
	}
	main:not(.home) section.content-container .post-archive .post-image {
		max-width: 100%;
		padding-right: 0 !important;
	}
	main:not(.home) section.content-container .post-archive {
		margin-right: 0;
	}
	main:not(.home) section.content-container .post-archive .post-details {
		max-width: 100%;
		padding-top: 20px;
    	text-align: center;
	}
	/*COMMUNITIES PAGE END*/

	/*BUYERS PAGE*/
	.content-container .buyers-header .col-2 {
		max-width: 100%;
	}
	main:not(.home) .content-container .container .row .col-9 p {
		text-align: justify;
		padding-top: 20px;
	}
	main:not(.home) .content-container .container .row .col-9 h3 {
		text-align: center;
	}
	/*BUYERS PAGE END*/

	/*Footer*/
	footer .container .row .col-md-7 {
		text-align: center;
	}
	footer .container .row .col-md-5 .row {
		display: block;
	}
	footer #social-links ul {
		display: flex;
	}
	footer #social-links ul li {
		margin: auto;
	}
	footer img.footer-logo {
		display: flex;
		margin: auto;
		max-width: 50%;
	}
	/*Footer*/

	}