// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Pages
@import "pages/pages";

body {
    background: rgba(69, 86, 133, 0.9);
    margin: 0;
    padding: 0;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;

	#social-links {
		display: block;

		ul {
			list-style: none;
			color: #FFF;
			margin: 8px 0;
    		height: 32px;

			li {
				display: inline-block;
				margin-right: 8px;

				a {
				    color: #FFF;
				    transition: all .25s ease-in-out;
				    -moz-transition: all .25s ease-in-out;
				    -webkit-transition: all .25s ease-in-out;

					&:hover {
    					color: #e34d18;
					}
			    
				    span {
					    border-radius: 50%;
					    border: 1px solid #FFF;
					    position: relative;
					    height: 32px;
					    width: 32px;
					    display: block;

					    i {
					    	position: absolute;
						    top: 50%;
						    left: 50%;
						    -webkit-transform: translateX(-50%) translateY(-50%);
						    transform: translateX(-50%) translateY(-50%);
					    }
				    }
				}
			}
		}
	}

	#main-header {
		width: 100%;
    	background: #000;

    	div.row {
    		align-items: center;
    	}

		div#logo {
			display: inline-block;
			vertical-align: middle;

			a {
				font-family: Yellowtail;
				font-size: 44px;
				text-decoration: none;
				color: #FFF;
			}

			img {
    			padding: 16px 0;
			}
		}

		div#contact {
    		line-height: 22px;
			display: inline-block;
			vertical-align: middle;
			border-left: 1px solid rgb(104, 118, 156);

			span {
				color: #FFF;
			}
		}

		#navigation {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;

				a {
					display: block;
    				padding: 33px 16px;
					color: #c8d7e3;
    				font: 600 12px 'Open Sans', sans-serif;
    				text-decoration: none;
				    transition: all .25s ease-in-out;
				    -moz-transition: all .25s ease-in-out;
				    -webkit-transition: all .25s ease-in-out;

    				&:hover {
    					background: #dadada;
    					color: #507E4D;
    				}
				}
			}
		}
	}
}

main:not(.home) {
    background: #464646;
    padding-top: 117px;
    height: auto;

    section.content-container {
    	padding-top: 72px;
    	padding-bottom: 72px;
    	background: #dedede;
    	height: auto;
    	min-height: 662px;

    	.post-archive {
			a, a:hover {
			    color: #55A14F;
			}

			border-bottom: 1px dotted;
			margin: 0;
			margin-right: 15px;
			padding-bottom: 40px;

			&:not(:first-child) {
				padding-top: 20px;
			}

    		.post-image {
    			padding-left: 0;
    		}

    		.post-details {
    			.post-title {
				    font: 500 24px/18px 'Open Sans', sans-serif;
				    display: block;
				    color: #464646;
				    margin: 0 0 15px;
    			}

    			.post-content {
    				text-align: justify;
    				display: -webkit-box;
					overflow: hidden;
					text-overflow: ellipsis;
				    -webkit-box-orient: vertical;
				    -webkit-line-clamp: 3;
    			}

    			.read-more {	
				    text-decoration: underline;
				    font-style: italic;
    			}
    		}
    	}

    	.post-single {
    		.post-content {
    			margin-top: 24px;
    		}
    	}
    }

    .breadcrumbs {
		a, a:hover {
		    color: #55A14F;
		}

    	ul {
    		list-style: none;
    		padding-left: 0;

    		li, span {
    			display: inline-block;
    			vertical-align: middle;
    		}

    		span {
    			font-size: 18px;
    		}
    	}
    }

    .page-title {
    	margin: 1.5em 0;

    	h2 {
    		font: 400 45px/30px 'Yellowtail', sans-serif;
		    color: #507E4D;
		    display: block;
    	}
    }

    h3 {
    	font-weight: bolder;
    	margin-bottom: .5rem;
	    font-family: inherit;
	    font-weight: 500;
	    line-height: 1.2;
	    font-size: 18px;
	    margin: 14px 0;
    }

    #content-sidebar {
    	text-align: center;
    	padding: 0px;

    	.sidebar-info {
    		margin-top: 12px;
			color: #507E4D;

    		h2 {
			    font: 400 35px/30px 'Yellowtail', sans-serif;
			    display: block;
			    color: #507E4D;
	    	}

	    	span {
	    		display: block;
    			font-size: 20px;
    			font-weight: bold;
	    	}

	    	a {
	    		display: block;
	    		font-weight: 400;
			    outline: none;
			    text-decoration: none;
			    color: #507E4D;
    			line-height: 12px;
	    	}
    	}

    	#social-links {
			display: block;
			margin-top: 32px;

			ul {
				list-style: none;
				color: #507E4D;
				margin: 8px 0;
	    		height: 32px;
    			padding-left: 0px;

				li {
					display: inline-block;

					a {
						color: #507E4D;
					    transition: all .25s ease-in-out;
					    -moz-transition: all .25s ease-in-out;
					    -webkit-transition: all .25s ease-in-out;

						&:hover {
	    					color: #e34d18;
						}
				    
					    span {
						    border-radius: 50%;
						    border: 1px solid #507E4D;
						    position: relative;
						    height: 28px;
						    width: 28px;
						    display: block;

						    i {
						    	position: absolute;
							    top: 50%;
							    left: 50%;
							    -webkit-transform: translateX(-50%) translateY(-50%);
							    transform: translateX(-50%) translateY(-50%);
						    }
					    }
					}
				}
			}
		}

		.cta-area {
    		padding-top: 16px;

			a {
		    	width: 200px;
		    	height: 200px;
		    	display: block;
	    		background: #507E4D;
	    		border-radius: 50%;
	    		margin: 12px auto;
	    		transition: all .25s ease-in-out;
			    -moz-transition: all .25s ease-in-out;
			    -webkit-transition: all .25s ease-in-out;

	    		&:hover {
	    			background: #FFF;

	    			span {
	    				&.inner-border {
				    		border: 1px solid #507E4D;

				    		em {
				    			background: #507E4D;

				    			label {
				    				color: #FFF;
				    			}
				    		}
	    				}
	    			}
	    		}

	    		span {
				    width: 100%;
				    border-radius: 50%;
				    padding: 8px;
				    display: block;
				    height: 100%;
				    transition: all .25s ease-in-out;
				    -moz-transition: all .25s ease-in-out;
				    -webkit-transition: all .25s ease-in-out;

				    &.inner-border {
				    	border: 1px solid #FFF;
				    	padding: 6px;

				    	em {
				    		display: block;
				    		height: 100%;
				    		width: 100%;
				    		text-align: center;
	    					background: #dadada;
	    					border-radius: 50%;
	    					position: relative;
	    					transition: all .25s ease-in-out;
						    -moz-transition: all .25s ease-in-out;
						    -webkit-transition: all .25s ease-in-out;

	    					label {
							    position: absolute;
							    left: 50%;
							    top: 50%;
							    transform: translateX(-50%) translateY(-50%);
							    font-style: normal;
							    font-size: 30px;
							    cursor: pointer;
							    font-weight: bolder;
							    color: #507E4D;
							    transition: all .25s ease-in-out;
							    -moz-transition: all .25s ease-in-out;
							    -webkit-transition: all .25s ease-in-out;
	    					}
				    	}
				    }
	    		}
		    }
		}
    }
}

footer {
	width: 100%;
    height: auto;
    background: #507E4D;
    padding-top: 32px;
    padding-bottom: 16px;

    .footer-navigation {
    	padding: 0;
    	margin-bottom: 12px;

    	li {
    		display: inline-block;

		    &:not(:first-child) {
		    	padding-left: 9px;
		    }

		    &:not(:last-child) {
		    	border-right: 1px solid #FFF;
		    }

    		a {
    			color: #FFF;
			    font: normal 12px/12px 'Open Sans', sans-serif;
			    text-decoration: none;
			    text-transform: uppercase;
			    padding-right: 9px;
			    display: block;
    		}
    	}
    }

    p {
	    font: normal 10px 'Open Sans', sans-serif;
	    color: #fff;
	    text-transform: uppercase;

	    a {
	    	color: #FFF;
	    }

	    i {
		    font-size: 28px;
			padding: 0 3px;
		    display: inline-block;
	    }
    }

    #social-links {
		ul {
			list-style: none;
			color: #FFF;
			margin: 8px 0;
    		height: 32px;
    		padding-left: 0;

			li {
				display: inline-block;
				margin-right: 8px;

				a {
				    color: #FFF;
				    transition: all .25s ease-in-out;
				    -moz-transition: all .25s ease-in-out;
				    -webkit-transition: all .25s ease-in-out;

					&:hover {
    					color: #e34d18;
					}
			    
				    span {
					    border-radius: 50%;
					    border: 1px solid #FFF;
					    position: relative;
					    height: 32px;
					    width: 32px;
					    display: block;

					    i {
					    	position: absolute;
						    top: 50%;
						    left: 50%;
						    -webkit-transform: translateX(-50%) translateY(-50%);
						    transform: translateX(-50%) translateY(-50%);
					    }
				    }
				}
			}
		}
	}

	img.footer-logo {
		padding: 0;
	}
}


